<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        var testArray=['李洋',
                    '李鲁舰',
                    //'张海东',
                    '牛静',
                    '李冠霖',
                    //'马桂兵',
                    //'李扬',
                    //'宋浩凯',
                    '王鹏森',
                    '王政凯',
                    '刘尚杰',
                    '王继平',
                    '桑豪康',
                    '巨江坤',
                    '邹展搏',
                    '刘晓晔',
                    '刘磊',
                    '郑凯慧',
                    '林朝阳',
                    //'宫大伟',
                    '邓光',
                    '于海兰',
                    '刘慧',
                    '田红',
                    //'韩蒙蒙',
                    '邹芸芸',
                    '周杰',
                    '冷娴月',
                    //'位腾辉',
                    '刘朋',
                    '李康佳',
                    '唐巧云',
                    '张华阳',
                    '刘玉军',
                    '黄巧莲',
                    //'王彬',
                    '卫广超',
                    '王江',
                    '周佳成',
                    ]; 
        testArray.sort(function(){return Math.random()>0.5?-1:1;}); 
        console.log(testArray);
    </script>
</body>
</html>